@import "~inuit-css";
@import "~css-file-icons";


:root {
  --primary-color: #46b065;
  --secondary-color: #30904c;
  --link-color: #767676;
  --fontPrimary--color: #000;
  --lightGrey-color: #828282;
  --darkGrey-color: #7C7C7C;
  --dark-color: #000;
  --pink-color: #EC008C;
  --active-color: #EC008C;
  --grid-maxWidth: 1120px;
}

@mixin respond-to($breakpoint) {
  @if $breakpoint == "small" {
    @media (min-width: 36rem) {
      @content
    }
  } @else if $breakpoint == "medium" {
    @media (min-width: 45rem) {
      @content
    }
  } @else if $breakpoint == "large" {
    @media (min-width: 1025px) {
      @content
    }
  }
}

table {
  table-layout: fixed !important;
}

table td, table th {
  min-width: 13rem !important;
}
td:nth-child(3), th:nth-child(3),td:nth-child(7), th:nth-child(7){
  min-width: 100px !important;
}
